@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu {
  width: 100%;
  border-top: 4px solid #9c8061;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #888888;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu > ul > li:first-child {
  background: #9c8061;
}
#cssmenu > ul > li:first-child > a {
  padding: 10px 10px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: #9c8061;  
}
#cssmenu > ul > li {
  background: #ffffff;
  border-bottom: solid 1px #f1f1f1;
  

}
#cssmenu > ul > li:hover {
  background: #3498db;
  
}
#cssmenu > ul > li > a {
  font-size: 14px;
  display: block;
  border-top: none;
  color: #434546;
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
  color: #fff;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a span {
  background: url(icon+.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(icon-.png) 96% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
  background: #fff;
  
}
#cssmenu ul ul li {
  padding: 0;
  
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  
  font-size: 12px;
  font-weight: normal;
}
#cssmenu ul ul a:before {
  content: "»";
  position: absolute;
  left: 10px;
  
}
#cssmenu ul ul a:hover {
  
}
ul.custom-reviews
{
	list-style: none;
	margin: 0px;
}
ul.custom-reviews li
{
	display:inline;
	padding-right: 5px;
}
ul.custom-reviews li:first-child
{
	color:#898B87;
}
ul.custom-reviews li:first-child:hover
{
	color:#509622;
}
ul.custom-reviews li:nth-child(2)
{
	color:#898B87;
}
ul.custom-reviews li:nth-child(2):hover
{
	color:#51A5BA;
}
ul.custom-reviews li:nth-child(3)
{
	color:#898B87;
}
ul.custom-reviews li:nth-child(3):hover
{
	color:#E04D1E;
}
.story-content
{
	padding:5px;
	background-color:#FFF;
	font-size: 15px;
}
.story-content-top-border
{
	border-top: solid 13px #E18942;
	box-shadow: 1px 1px 10px #888888;
	border-radius: 3px;
}

.story-reply-content-top-border
{
	border-left: solid 5px #6A8F94;
}
#related-posts,
#related-posts ul,
#related-posts li,
#related-posts a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
#related-posts
{
  width: 100%;
  border-top: 4px solid #79BFA1;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #888888;

}
#related-posts a {
  line-height: 1.3;
}
#related-posts > ul > li:first-child {
  background: #79BFA1;
}
#related-posts > ul > li:first-child > a {
  padding: 10px 10px;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  
}
#related-posts > ul > li:first-child > a > span {
  padding: 0;
}
#related-posts > ul > li:first-child:hover {
  background: #79BFA1;  
}

#related-posts ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  font-size: 12px;
  font-weight: normal;
}
.related-posts-list,
.related-posts-list ul,
.related-posts-list li,
.related-posts-list a
{
  margin: 0;
  padding: 10px;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
  background-color: #fff;

}
.related-posts-list ul
{
padding: 0px;
margin: 0px;
}
.related-posts-list ul li
{
	padding: 5px !important;
	border-bottom:solid 1px #79BFA1!important;
}
.related-posts-list ul li:hover
{
	padding: 5px !important;
	border-left:solid 2px #79BFA1!important;
}

.related-posts-list ul li a
{
	color:#79BFA1;
}